html,
body,
#app-container {
  margin: 0;
  height: 100%;
}

.side-panel {
  min-height: 100%;
  overflow: auto;
}

.side-panel input,
.side-panel textarea,
.side-panel select {
  background: transparent;
}
